<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Item</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <div class="container">
        <h1>Vendo Detalhes do Produto #</h1>
        <form id="formularioEdicao">
            <label>Nome: </label>
            <input type="text" id="campoNome" name="campoNome">
            <label>Preço: </label>
            <input type="text" id="campoPreco" name="campoPreco">
            <label>Descrição: </label>
            <textarea id="campoDescricao" name="campoDescricao"></textarea>

            <div class="radio-group">
                <label>Ativo</label><input type="radio" name="visibilidade" id="radio1" checked>
                <label>Inativo</label><input type="radio" name="visibilidade" id="radio2">
            </div>

            <button type="submit"> Enviar </button>
            <button type="reset"> Limpar </button>
        </form>

    </div>
    <script src="/js/verItem.js"></script>
</body>
</html>